* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: white;
  height: 100vh;
}

:root {
  --column-no: 4;
}

.grid-container {
  width: 80%;
  outline: 2px solid darkblue;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(calc(var(--column-no) *2), 1fr);
  grid-gap: 1rem;
  transition: transform 2s;
}

.card {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  transition: transform 2s;
  /*aspect-ratio: 1;*/
  border: 1px solid gray;
  background-color: cyan;
}

.empty-grid {
  display: grid;
}
.item-a {
  background-color: darkcyan;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}

.flipped .grid-container {
  transform: rotate(90deg);
}
.flipped .card {
  transform: rotate(-90deg);
}
